<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZapNews</title>
    <link rel="website icon" type="png" href="/static/Content/logo.png">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/0d52fc865e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="parent-header">
        <div class="header">
            <img src="/static/Content/logo.png" alt="Zapnews Logo">
        </div>
        <div class="navi">
            <nav class="navbar">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('technology') }}">Technology</a>
                <a href="{{ url_for('articles') }}">Articles</a>
                <a href="{{ url_for('politics') }}">Politics</a>
                <a href="{{ url_for('technology') }}">About Us</a>
                <a href="{{ url_for('technology') }}">Contact Us</a>
            </nav>
        </div>
    </div>

    {% block body %}
        
    {% endblock body %}

    <div class="allfather-footer">
        <div class="main-footer">
            <div class="left-section"><img src="/static/Content/logo.png" alt="Logo"></div>
            <div class="middle-section">
                <span>Home</span><br>
                <span>About</span><br>
                <span>Contact Us</span><br>
                
            </div>
            <div class="right-section">
                <img src="" alt="">
                <p>Atharva Patil (Frontend Developer)</p>
                <span class="fa-brands fa-linkedin fa-3x"></span>
                <span class="fa-brands fa-instagram fa-3x"></span>
                <span class="fa-brands fa-github fa-3x"></span>
                <br><br>
                <p>Jemish Koladiya (Backend Developer)</p>
                <span class="fa-brands fa-linkedin fa-3x"></span>
                <span class="fa-brands fa-instagram fa-3x"></span>
                <span class="fa-brands fa-github fa-3x"></span>
            </div>
        </div>
    </div>

    <br>
    <p class="legal">&copy; 2025 ZapNews⚡. News Faster Than Gossip, Sharper Than Truth.</p>
    
    
    <script type="module" src="script.js"></script>
</body>
</html>