{% extends "base.html" %}
{% block body %}

   
    <div class="allfather-container">
        <div class="infocontainer">
            <div class="infoscroll">
                <h1>Faster Than <span class="typeword">Gossip</span>. Sharper Than <span class="typeword">Truth</span>.</h1>
            </div>

            <div class="empty"></div>
            <div class="cardpair">
                <div class="card">
                    <h2>Frontend Developer</h2><br>
                    <img class="circular-img" src="developer1_photo" alt="">
                    <h1>Atharva Patil</h1>
                    <br>
                    <h3>Contact</h3>
                    <div class="social">
                        <a style="text-decoration: none;" href="developer1_link" target="_blank">
                            <i class="fa-brands fa-linkedin fa-3x"></i>
                        </a>
                        <a style="text-decoration: none;" href="developer1_link" target="_blank">
                            <i class="fa-brands fa-github fa-3x"></i>
                        </a>
                        <br><br>
                    </div>
                </div>
                <div class="card">
                    <h2>Backend Developer</h2><br>
                    <img class="circular-img" src="developer2_photo" alt="">
                    <h1>Jemish Koladiya</h1>
                    <br>
                    <h3>Contact</h3>
                    <div class="social">
                        <a style="text-decoration: none;" href="developer2_link" target="_blank">
                            <i class="fa-brands fa-linkedin fa-3x"></i>
                        </a>
                        <a style="text-decoration: none;" href="developer2_link" target="_blank">
                            <i class="fa-brands fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            <div class="empty"></div>
    </div>
{% endblock body %}  