{% extends "base.html" %}
{% block body %}
    
    <div class="allfather-container">
        <div class="infocontainer">
            <div class="infoscroll">
                <h1>Faster Than <span class="typeword">Gossip</span>. Sharper Than <span class="typeword">Truth</span>.⚡</h1>
            </div>
            {% if username %}
                <div style="text-align: center; margin-top: 20px;">
                    <h2 style="font-size: 2.2rem; font-weight: bold; color: #333;">
                        Welcome, <span style="color: #7d84b2;">{{ username }}</span> 👋
                    </h2>
                    <p style="font-size: 1.1rem; color: #777;">Glad to have you here!</p>
                </div>
            {% endif %}

        </div>
        
        <div class="newsgrid">
            <h1 id="top-header">Top News</h1>
            
            <div class="top-3">
                {% for article in news_items %}
                <div class="top-3-div">
                  <a href="{{ url_for('read_news') }}?url={{ article.link | urlencode }}" class="news-article">
                    <h3 class="news-title">{{ article.title }}</h3>
                    <span class="news-link">Read more →</span>
                  </a>
                </div>
              {% endfor %}
            </div>
            

            
            <div class="top-7">
                {% for article in news_items[3:10] %}
                <div class="top-7-div">
                    <a href="{{ url_for('read_news') }}?url={{ article.link | urlencode }}" class="news-article">
                        <h4 class="news-title">{{ article.title }}</h4>
                        <span class="news-link">Read more →</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="more-news-wrapper">
            <a href="{{ url_for('preferencedNews') }}" class="more-news-btn">Explore More News</a>
        </div>
        
    </div>
{% endblock body %}    